.locc{
    position: relative;
    font-size: 13px;
    border: 2px solid rgb(172, 172, 172);
    width: 320px;
    height: 900px;
    right: 7px;
    bottom: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loc{
    position: relative;
    left: 50px;
    bottom: -60px;
}

.dig{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 8px;
    color: rgb(172, 172, 172);
    bottom: -3px;
}
    
.digit{
    position: relative;
    font-size: 12px;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
    width: 215px;
    height: 20px;
    left: 40px;
    bottom: 830px;
    border-radius: 7px;
}

.linha{
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    width: 250px;
    height: 0px;
    bottom: 790px;
    left: 25px;
}

.oq{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    bottom: 750px;
    left: 30px;
}

.um{
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    width: 22px;
    height: 18px;
    bottom: 720px;
    left: 25px;
    border-radius: 5px;
}

.dois{
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    width: 22px;
    height: 18px;
    bottom: 680px;
    left: 25px;
    border-radius: 5px;
}

.tres{
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    width: 22px;
    height: 18px;
    bottom: 640px;
    left: 25px;
    border-radius: 5px;
}

.quatro{
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    width: 22px;
    height: 18px;
    bottom: 600px;
    left: 25px;
    border-radius: 5px;
}

.cinco{
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    background-color: white;
    width: 22px;
    height: 18px;
    bottom: 560px;
    left: 25px;
    border-radius: 5px;
}

.super{
    position: relative;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 834px;
    left: 60px;
}

.car{
    position: relative;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 803px;
    left: 60px;
}

.visao{
    position: relative;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 800px;
    left: 60px;
}

.troca{
    position: relative;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 710px;
    left: 60px;
}

.visto{
    position: relative;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 707px;
    left: 60px;
}

.umm{
    position: relative;
    font-size: 11px;
    color: rgb(184, 184, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 960px;
    left: 60px; 
}

.doiss{
    position: relative;
    font-size: 11px;
    color: rgb(184, 184, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 920px;
    left: 60px;  
}

.tress{
    position: relative;
    font-size: 11px;
    color: rgb(184, 184, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 823px;
    left: 60px; 
}

.quatroo{
    position: relative;
    font-size: 11px;
    color: rgb(184, 184, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 907px;
    left: 60px;
}

.cincoo{
    position: relative;
    font-size: 11px;
    color: rgb(184, 184, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 808px;
    left: 60px;   
}

.ano{
    position: relative;
    bottom: 770px;
    left: 30px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dee{
    position: relative;
    bottom: 770px;
    left: 30px;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
    width: 75px;
    height: 28px;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.de{
    position: relative;
    bottom: -5px;
    left: 8px;
    color: rgb(172, 172, 172);
}

.ate{
    position: relative;
    bottom: -5px;
    left: 8px;
    color: rgb(172, 172, 172);
}

.atee{
    
    position: relative;
    bottom: 813px;
    left: 160px;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
    width: 75px;
    height: 28px;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.ex{
    position: relative;
    bottom: 828px;
    left: 32px;
    font-size: 11px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(172, 172, 172);
}

.exx{
    position: relative;
    bottom: 863px;
    left: 162px;
    font-size: 11px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(172, 172, 172); 
}

.Preço{
    position: relative;
    bottom: 850px;
    left: 30px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.de1{
    position: relative;
    bottom: -5px;
    left: 8px;
    color: rgb(172, 172, 172);
}

.de2{
    position: relative;
    bottom: 850px;
    left: 30px;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
    width: 75px;
    height: 28px;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.ate1{
    position: relative;
    bottom: -5px;
    left: 8px;
    color: rgb(172, 172, 172);
}

.ate2{
    position: relative;
    bottom: 893px;
    left: 160px;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
    width: 75px;
    height: 28px;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.ex1{
    position: relative;
    bottom: 907px;
    left: 33px;
    font-size: 11px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(172, 172, 172); 
}


.ex2{
    position: relative;
    bottom: 942px;
    left: 162px;
    font-size: 11px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(172, 172, 172); 
}

.limparr{
    position: relative;
    bottom: 940px;
    left: 25px;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
    width: 240px;
    height: 28px;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.limpar{
    position: relative;
    bottom: -5px;
    left: 90px;
    color: rgb(172, 172, 172);
}
